.home_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: white;
    padding:0px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header_logo img{
    width: 150px;
    height: 35px;
    padding-top: 10px;
    
    padding-left:20px;
    float: left;
}

.navbar_menu_container {
    float: left;
    margin: 12px 12px;
    justify-content: center;
    align-items: center; 
}

.dropdown_menu_button {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dropdown_menu_button:hover {
    background-color: #ececec; 
    cursor: pointer;
}

.dropdown_menu_button.template_thambnail_card:hover{
    z-index: 2px;
}

.sign_in_button_container{
    float: right;
    margin: 12px 12px;
    justify-content: center;
    align-items: center; 
}

#sign_in_button{
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sign_in_button:hover {
    background-color: #ececec; 
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search_container {
    margin: 100px auto;
    display:flex;
    background-color: #f4f4f4;
    border: 1px solid #b7b7b7;
    width: 539px;
    border-radius: 90px;
}

#search_bar_form {
    display: flex;
    align-items: center;
}

.search_bar_container {
  
    background-color: white;
    border-radius: 90px;
}

#search_bar {
    text-align: center;
    flex: 1;
    height: 60px;
    width: 350px;
    padding: 10px;
    border: 1px solid #ffffff;
    font-size: 17px;
    border-radius: 90px;
    outline: none;
}
#search_bar_form{
    border-radius: 90px;
    border:1px solid rgb(125, 125, 125) ;
}

#search_bar_form button {
    height: 60px;
    margin: 3px;
    padding-left:1px;
    width: 60px;
    font-size: 16px;
    color: #ffffff;
    background-color: #333232;
    border: none;
    border-radius:90px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#search_bar_form button:hover {
    background-color: #000000;
}
#category_search {
    height: 60px;
    width: 110px;
    font-size: 16px;
    color: #515050;
    background-color: #ffffff;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category_search:hover {
    background-color: #d8d8d8;
}

.template_grid {
    margin: 80px auto;
    width: 90%;
    max-width: 1200px;
}

.template_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
}

.template_thambnail_card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.template_thambnail_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.template_thambnail_card img {
    width: 100%;
    height: 350px; 
    display: block;
    border-bottom: 1px solid #ddd; 
}

.base{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    font-family: Arial;
    font-size: 15px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 37px;
    filter: drop-shadow(0px 4px 7px rgba(185, 185, 185, 0.5));
    margin: 0 auto;
    padding: 20px;
}

.sign_in_panel{
width: 429.8000000000004px;
height: 613.0000000000002px;
border-style: dotted;
border-color: #ABB0B3;

}

.sign_in_panel_inside_container{
    padding-top: 20px;
    margin:10px ;
}

.google_button_container{
    text-align: left;
    margin: 20px 40px;
    padding-bottom: 10px;
}
.welcomebox{
    width: 243.32798767089844px;
    height: 48.0px;
    font-family: Poppins;
    font-size: 32.0px;
    font-weight: 600;
    text-transform: none;
    color: #000000;
    
}

#welcomegrit{
margin: top -15px; ;
width: 243.32798767089844px;
height: 48.0px;
font-family: Poppins;
font-size: 32.0px;
font-weight: 600;
text-transform: none;
color: #000000;
}

#detail_fill_instruction{

width: 300.0888671875px;
height: 21.0px;
font-family: Poppins;
font-size: 14.0px;
font-weight: 300;
text-transform: none;
color: #9A9CA5;
}

#google_login_button{
width: 326.0px;
height: 41.0px;
font-family: Montserrat;
font-size: 15.0px;
font-weight: 400;
text-align: center;
text-transform: none;
color: #2B2B2B;
border-top: 1.0px solid #ABB0B3;
border-right: 1.0px solid #ABB0B3;
border-bottom: 1.0px solid #ABB0B3;
border-left: 1.0px solid #ABB0B3;
border-top-left-radius: 0.645px;
border-top-right-radius: 0.645px;
border-bottom-left-radius: 0.645px;
border-bottom-right-radius: 0.645px;
padding-left: 10px;
}

.input_container{
    margin: 20px 50px;
    text-align: left;
}
.input_container #forgot_password_link{
    margin: 10px;
    display: block;
    text-align: right;
}

#inputlabel{
width: 90.49299621582031px;
height: 19.0px;
font-family: Poppins;
font-size: 13.0px;
font-weight: 300;
text-transform: none;
color: #212529;

}

.input_container #password{
width: 306.0px;
height: 35.99999999999994px;
font-family: Poppins;
font-size: 13.0px;
font-weight: 300;
text-transform: none;
color: #212529;
background-color: #FFFFFF;
border-top: 1.0px solid #CED4DA;
border-right: 1.0px solid #CED4DA;
border-bottom: 1.0px solid #CED4DA;
border-left: 1.0px solid #CED4DA;
border-top-left-radius: 0.7599999999999989px;
border-top-right-radius: 0.7599999999999989px;
border-bottom-left-radius: 0.7599999999999989px;
border-bottom-right-radius: 0.7599999999999989px;
padding-right: 15px;
padding-left: 15px;
}

.input_container #email{
    width: 306.0px;
    height: 35.99999999999994px;
    font-family: Poppins;
    font-size: 13.0px;
    font-weight: 300;
    text-transform: none;
    color: #212529;
    background-color: #FFFFFF;
    border-top: 1.0px solid #CED4DA;
    border-right: 1.0px solid #CED4DA;
    border-bottom: 1.0px solid #CED4DA;
    border-left: 1.0px solid #CED4DA;
    border-top-left-radius: 0.7599999999999989px;
    border-top-right-radius: 0.7599999999999989px;
    border-bottom-left-radius: 0.7599999999999989px;
    border-bottom-right-radius: 0.7599999999999989px;
    padding-right: 15px;
    padding-left: 15px;
    }
    

.sign_in_container{
    margin: 20px 35px;
}

.sign_in_container #sign_in_button{
width: 339.8px;
height: 39.8px;
font-family: Poppins;
font-size: 14.0px;
font-weight: 500;
text-align: center;
text-transform: none;
color: #FFFFFF;
background-color: #000000;
border-top: 0.1px solid #000000;
border-right: 0.1px solid #000000;
border-bottom: 0.1px solid #000000;
border-left: 0.1px solid #000000;
border-top-left-radius: 0.7959999999999999px;
border-top-right-radius: 0.7959999999999999px;
border-bottom-left-radius: 0.7959999999999999px;
border-bottom-right-radius: 0.7959999999999999px;
}

.account_exist_question{
    text-align: center;
    margin: 33px;
}

.account_exist_question #sign_up_link{
width: 47.983001708984375px;
height: 19.0px;
font-family: Poppins;
font-size: 13.0px;
font-weight: 300;
text-decoration: underline;
text-transform: none;
color: #0099FF;


}
#forgot_password_link {
text-align: left;
float: right;
width: 120px;
height: 19.0px;
font-family: Poppins;
font-size: 13.0px;
font-weight: 300;
text-decoration: underline;
text-transform: none;
color: #0099FF;
}



.sign_in_page_picture_frame img{
border-radius: 10px;
display:block;
width: 586.9999999999997px;
height: 720.0000000000002px;
font-family: Arial;
font-size: 15.0px;
font-weight: 400;
text-align: center;
text-transform: none;
color: #000000;
background-color: #FFFFFF;
background-size: cover;
background-position: center center;

}
